<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.email %>
  </p>
  
  <% if (comment.updated_at-comment.created_at) > 1 %>
  <span> edited <%= time_ago_in_words(comment.updated_at) %> ago</span>
  <%else%>
  <span> posted <%= time_ago_in_words(comment.created_at) %> ago</span>
  <%end%>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  

  <% if current_user == comment.user%>

  <div>
    <%= link_to "Delete", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>

    <%= link_to "Edit", 
    nil , 
    remote: true, 
    class:"", 
    data:{ 
      controller:"comments" , 
      action:"comments#toggleForm",
      comments_form_param:"edit-form-#{comment.id}",
      comments_body_param:"comment-body-#{comment.id}",
      } %>
  </div>

   <%end%>

<div id="edit-form-<%= comment.id%>" class="d-none"> 
  <h2>Edit a comment:</h2>
  <%= render 'comments/form', article:@article, comment:comment %>
</div>
 
<% end %>
