<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <%= form_with model: article do |form| %>
              
              <!-- Title Field -->
              <div class="form-outline mb-4">
                <%= form.label :title, class: 'form-label' %>
                <%= form.text_field :title, class: 'form-control' %>
                <% article.errors.full_messages_for(:title).each do |message| %>
                  <div class="alert alert-danger mt-2"><%= message %></div>
                <% end %>
              </div>

              <!-- Body Field -->
              <div class="form-outline mb-4">
                <%= form.label :body, class: 'form-label' %>
                <%= form.text_area :body, class: 'form-control', rows: 3 %>
                <% article.errors.full_messages_for(:body).each do |message| %>
                  <div class="alert alert-danger mt-2"><%= message %></div>
                <% end %>
              </div>

              <!-- Status Select -->
              <div class="form-outline mb-4">
                <%= form.label :status, class: 'form-label' %>
                <%= form.select :status, Visible::VALID_STATUSES, {selected: article.status || 'public'}, {class: 'form-select'} %>
              </div>

              <!-- Submit Button -->
              <div class="form-outline">
                <%= form.submit class: 'btn btn-primary btn-block' %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
