
<%= render @article %>

<div class="container mt-4">
  <div class="mb-3">
    <ul class="list-inline">
      <li class="list-inline-item"><%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-sm" %></li>
      <li class="list-inline-item"><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %></li>
    </ul>
  </div>

  <h2 class="mb-3">Comments</h2>
  <%= render @article.comments %>

  <h2 class="mt-4 mb-3">Add a comment:</h2>
  <%= render 'comments/form', article: @article, comment: @article.comments.build %>
</div>