<% if current_user %>
  <li class="nav-item">
    <a class="nav-link text-bold bg-white rounded px-2 py-1 mx-1" href="#">
      <%= current_user.username %>
    </a>
  </li>
    <li class="nav-item">
    <%= link_to "Edit account", edit_user_registration_path, class: "nav-link bg-white rounded px-2 py-1 mx-1 d-inline-block fw-bold" %>
    </li>
    <li class="nav-item">
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-link bg-white rounded px-2 py-1 mx-1 d-inline-block text-dark fw-bold', form: { class: "d-inline" }, style: "text-decoration: none;" %>
    </li>

<% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link bg-white rounded px-2 py-1 mx-1" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign In", new_user_session_path, class: "nav-link bg-white rounded px-2 py-1 mx-1" %>
  </li>
<% end %>
